#bton {
    width: 100%;  
    padding: 10px;
    display: flex;
}

#contenedor button:not(:last-child) {
    margin-right: 10px;  
}

#datatable_id { 
    text-align: center;
    margin-top: 50px;
    width: 1360;
    height:217px;
}

#title {
    text-align: center;
}